.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
  margin-top: 80px;
}

.home-content {
  text-align: center;
  margin-top: 150px;
}

.title {
  font-size: 64px;
  font-family: AileronSemiBold;
}
